body{
    background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card-1{
    border: 10px solid white;
    border-radius: 30px;
    margin-bottom: 30px;
}

.lanjut{
    text-decoration: none;
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.lanjut:hover{
    background: turquoise;
    color: white;
}

@media screen and (max-width: 800px) {
    .gambar{
        height : 150px;
        width: 100%;
    }
}